@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 10px 30px;
}
.img-div {
  width: 200px;
}

.label {
  width: 300px;
  padding: 30px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ingred-div {
  padding: 30px;
  text-align: center;
  display: flex;
  
}

.navbar-brand {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-evenly;
}

.object-fill {
  max-width: 200px;
}

.link:hover {
  color: #6d3a03;
}

.border-double {
  padding: 2px 7px;
}

.header-img-div {
  display: flex;
  justify-content: center;
}

.header-img {
  width: 500px !important;
}